@import "./Theme.scss";
$menu-visible: false;

.header {
  background-color: $background-header;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid $theme-color;
  position: relative;
  z-index: 9977;

  .back-blur {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -9999;
  }

  .contorls {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .logo-img {
      height: 100%;
    }
  }
  .menu {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: $background-header;
    border-right: 5px solid $theme-color;
    transition: all 0.2s ease;

    .close-button {
      position: fixed;
      left: 10px;
      top: 10px;

      .close-fab {
        background-color: hsla(0, 0%, 55%, 0.185);
        transition: all 0.2 ease;
        outline: none;
      }
      .close-fab:hover {
        background-color: $theme-color;
      }
    }

    .nav-menu {
      margin-top: 70px;
      align-items: center;
      transition: all .2s ease;
      a {
        color: white;
        transition: all .3s ease;
        font-size: 1.5rem;
      }
      a:hover{
        color: $theme-color;
        font-size: 1.55rem;
      }
      img {
        height: 200px;
        width: auto;
        margin-bottom: 50px;
      }
      .active{
        color: $theme-color;
      }
    }
  }
}
