@import "./Theme.scss";

.add-page {
  .background-blur {
    .scroll-btns {
      display: flex;
      flex-direction: column;
      position: fixed;
      bottom: 20px;
      left: 5%;
      .fab {
        background-color: $background;
        color: white;
        margin: 5px;
        outline: none;
        &:hover{
            background-color: $background-header;
        }
      }
    }
  }
}
